.PHONE, .display-no {
  display: none;
}

.PHONE {
  min-height: 100%;
}
.margin-top110 {
  margin-top: 14.32vw;
}

/* PHONE */

.phone-head-menu {
  position: fixed;
  z-index: 888;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4.198vw 3.435vw 2.99vw 3.9vw;
  width: 100%;
  height: 14.32vw;
  box-sizing: border-box;
  background-color: #ffffff;
}

.phone-head-menu > .phone-menu-tabs {
  position: fixed;
  z-index: 888;
  top: 14.32vw;
  left: 0;
  width: 100%;
  height: calc(100% - 14.32vw);
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.phone-menu-tabs > .phone-tabs > .phone-tabs-item { 
  font-size: 4.166vw;
  font-family: Source Han Sans SC;
  font-weight: bold;
  color: #666666;
}

.phone-tab-active {
  color: #1657A7 !important;
}

.phone-menu-tabs > .phone-tabs {
 border-top: 2px solid #1657A7;
 padding: 4.95vw 5.2vw 4.557vw;
 background-color: #ffffff;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.phone-head-menu > img {
  width: 25.65vw;
}

.phone-head-menu > .phone-menu-btn, .phone-menu-close {
  width: 7.03vw;
  height: 5.99vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.phone-menu-close {
  display: none;
  background-image: url(../image/phone/close.png);
  background-repeat: no-repeat;
  background-size: 5.468vw auto;
  justify-content: center;
  align-items: center;
}

.phone-head-menu > .phone-menu-btn > .phone-line {
  width: inherit;
  height: 4px;
  background-color: #1657A7;
  border-radius: 2px;
}

.phone-section-titel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.phone-section-titel > .phone-line {
  width: 15.885vw;
  height: 2px;
  background-color: #BFBFBF;
}

.phone-section-titel > span {
  margin: 0 3.906vw;
  font-size: 4.1666vw;
  font-family: Source Han Sans SC;
  font-weight: bold;
  color: #333333;
}

.phone-logo-list {

}

.phone-logo-list > ul {
  display: flex;
  flex-flow: row wrap;
  padding: 0 13.02vw;
  justify-content: flex-start;
}

.phone-logo-list > ul > li {
  width: 33.33%;
  text-align: left;
}

.phone-logo-list > ul > li > img {
  width: 94%;
}

.swiper-button-prev-phone4, .swiper-button-next-phone4, .swiper-button-prev-phone6, .swiper-button-next-phone6 {
  width: 7.81vw !important;
  height: 7.81vw !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat;
}

.swiper-button-prev-phone4, .swiper-button-prev-phone6 {
  background-image: url(../image/left-red.png) !important;
  left: 1.823vw !important;
}

.swiper-button-next-phone4, .swiper-button-next-phone6 {
  background-image: url(../image/right-red.png) !important;
  right: 1.823vw !important;
}

.phone-coor-client > .phone-cooperative-banner {
  margin: 10.02vw 0 6.77vw 0;
}

.phone-company-address > .phone-section-titel {
  margin: 19.14vw 0 8.33vw 0;
}

.phone-company-address > .map-phone > #container-phone, .phone-company-address > .map-phone > #container-phone-me {
  width: 100%;
  height: 40.88vw;
}

.phone-company-address > .blue-palce {
  height: 2.6vw;
}

.phone-page-bottom {
  padding: 5.2vw 6.51vw 5.2vw;
  background-color: #3B3C42;
}

.phone-page-bottom > .phone-logo-code {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.phone-page-bottom > .phone-logo-code > .phone-logo-tell, .phone-logo-tell > .phone-tell {
  display: flex;
  flex-direction: column;
}

.phone-logo-tell > img {
  width: 21.22vw;
}

.phone-logo-tell > .phone-tell > span {
  margin: 3vw 0 2vw 0;
  color: #AAAAAA;
  font-size: 1.5625vw;
}

.phone-logo-tell > .phone-tell > h1 {
  color: #ffffff;
  font-size: 3.385vw;
}

.phone-logo-code > .phone-code >img {
  width: 13.28vw;
}

.phone-page-bottom > .phone-rights-info {
  color: #AAAAAA;
  margin-top: 3.9vw;
}

.phone-page-bottom > .phone-rights-info > p {
  font-size: 2.343vw;
  padding: 2px 0;
  /* line-height: 4.6875vw; */
}

.phone-head-banner > img {
  width: 100%;
  line-height: auto;
}

.phone-service-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 9.895vw;
  margin-top: 8.854vw;
}

.phone-service-list > .phone-service-item {
  display: flex;
  flex-direction: column;
  width: 15vw;
  margin-right: 15.44vw;
  margin-bottom: 5.859vw;
}

.phone-service-list > .phone-service-item:nth-child(3n) {
  margin-right: 0;
}

.phone-service-list > .phone-service-item > img {
  width: 100%;
  margin-bottom: 2.2135vw;
}

.phone-service-list > .phone-service-item > span {
  text-align: center;
  font-size: 3.645vw;
  font-family: Source Han Sans SC;
  font-weight: 400;
  color: #333333;
}

.phone-red-titel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone-red-titel > h1 { 
  font-size: 5.468vw;
  font-weight: 400;
  color: #333333;
}

.phone-red-titel > .phone-red-line {
  width: 6.25vw;
  height: 0.78125vw;
  min-height: 4px;
  background-color: #F93C5A;
  margin-top: 5.92vw;
}

.phone-ydy-cover {
  margin-top: 6.25vw;
  padding: 3.515vw 5.21vw 0 5.21vw;
  box-sizing: border-box;

}

.phone-ydy-cover > .phone-cover-content {
  background-image: url(../image/map-bg.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% auto; 
  box-sizing: border-box;
}

.phone-cover-content > .phone-area-num {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16.927vw 0 12.369vw 0;
}

.phone-cover-content > .phone-area-num > .phone-num-item {
  display: flex;
  flex-direction: column;
}

.phone-area-num > .phone-num-item > h1 {
  font-size: 7.94vw;
  line-height: 7.94vw;
  font-weight: bold;
  color: #F93C5A;
  text-align: center;
  margin-bottom: 3.9vw;
}

.phone-area-num > .phone-num-item > span { 
  font-size: 3.9vw;
  color: #999999;
  text-align: center;
}

.phone-cover-content > .phone-rang-detial { 
  font-size: 3.645vw;
  font-family: Source Han Sans SC;
  font-weight: 400;
  color: #333333;
}

.phone-coor-client {
  margin-top: 14.32vw;
}

.phone-notice-list {
  display: flex;
  flex-direction: column;
  padding: 0 8.2vw 0 6.12vw;
}

.phone-notice-list > .phone-loading {
  width: 100%;
  height: 0;
  transition: all .5s ease;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 3.125vw;
  color: #999999;
}

.phone-notice-list > .phone-loading > .loading-text {
  display: none;
  text-align: center;
}

.phone-loading-more {
  text-align: center;
  font-size: 3.125vw;
  color: #999999;
  display: none;
}
/* PC */

.content-max-width {
  width: 100%;
  max-width: 62.5vw;
  margin: 0 auto;
}

.padding-bottom40 {
  padding-bottom: 40px;
}

.padding40 {
  padding: 0 40px;
  box-sizing: border-box;
}

.fixed {
  position: fixed;
  z-index: 777;
}

.blue-palce {
  width: 100%;
  height: 20px;
  background-color: #0180EE;
}

/* 公用头部 */
.home-head {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  background-color: #ffffff;
  min-height: 60px;
  height: 4.7vw;
}

.home-head-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home-head-logo > img {
  height: 40px;
}

.pro-banner {
  width: 100%;
}

.pro-banner > img {
  width: inherit;
}

/* 标题 */
.section-titel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.section-titel > span {
  margin: 0 0.945vw;
  font-size: 24px;
  font-family: Source Han Sans SC;
  font-weight: 400;
  color: #333333;
}

.line {
  width: 6.46vw;
  height: 1px;
  background: #BFBFBF;
}

.section-titel-red {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7.29vw;
}

.section-titel-red > h1 {
  font-weight: 400;
  font-size: 2.187vw;
  color: #333333;
}

.section-titel-red > .red-line {
  width: 48px;
  height: 6px;
  background: #F93C5A;
  margin-top: 2.395vw;
}

/* 公用底部 */
.page-bottom {
  width: 100%;
  /* height: 20.62vw; */
  background-color: #3B3C42;
}

.page-bottom > .bottom-content > .logo-code {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #999999;
  padding: 2.08vw 0 1.25vw 0;
}

.page-bottom > .bottom-content > .logo-code > .log-tag {
  display: flex;
  color: #aaaaaa !important;
  font-size: 12px;
  font-family: Source Han Sans SC;
  font-weight: 400;
}
.page-bottom > .bottom-content > .logo-code > .log-tag > .tags {
  padding-top: 25px;
  margin-left: 3.75vw;
  box-sizing: border-box;
}

.page-bottom > .bottom-content > .logo-code > .log-tag > .tags > a {
  margin-right: 3.125vw;
  font-size: 12px;
}

.page-bottom > .bottom-content > .logo-code > .codes {
  display: flex;
  flex-direction: column;
}

.page-bottom > .bottom-content > .logo-code > .codes > span {
  color: #aaaaaa;
  margin-top: 10px;
  text-align: center;
}

.page-bottom > .bottom-content > .copy-right-call {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 0;
}

.copy-right-call > .rights-info {
  margin-right: 20px;
}

.copy-right-call > .rights-info > p { 
  font-size: 12px;
  font-family: Source Han Sans SC;
  font-weight: 400;
  color: #aaaaaa;
  line-height: 30px;
}

.call-ifo > .union-login-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 177px;
  height: 60px;
  background: #F93C5A;
  box-shadow: 0px -6px 0px 0px rgba(202, 41, 11, 0.35);
  border-radius: 6px;
  margin: 13px 0 34px 0;
  cursor: pointer;
}

.call-ifo > .union-login-btn > span {
  margin-left: 10px;
  color: #FFFFFF;
  font-size: 18px;
}

.call-ifo > .hot-call {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hot-call > span {
  font-size: 12px;
  color: #aaaaaa;
}

.hot-call > h3 {
  color: #ffffff;
  font-size: 26px;
  margin-top: 10px;
}

/* 自定义菜单 */
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu > .menu-item { 
  font-size: 1.04vw;
  font-family: Source Han Sans SC;
  font-weight: bold;
  color: #000000;
  margin-left: 2.03vw;
  padding-bottom: 15px; 
  cursor: pointer; 
}

.menu > .active {
  color: #F93C5A;
  border-bottom: 3px solid #FE4B5C;
  box-sizing: border-box;
}

/* 浮动样式 */
.to-top {
  bottom: 20vh;
  right: 40px;
  width: 68px;
  height: 68px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(59, 60, 66, 0.8);
  border-radius: 100%;
  display: none;
  transition: all 1s ease;
  cursor: pointer;
}

.to-top > span { 
  font-size: 12px;
  color: #FFFFFF;
  margin-top: 3px;
}

.to-top > img {
  width: 28px;
}

.right-tags {
  top: 20vh;
  right: 40px;
  width: 68px;
  height: 68px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F93C5A;
  background-image: url(../image/code-icon.png);
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 100%;
  cursor: pointer;
}

.show-phone {
  cursor: pointer;
  top: calc(20vh + 80px);
  background-color: #3B3C42;
  background-image: url(../image/phone.png);
}

.fixed-code {
  position: fixed;
  z-index: 666;
  top: calc(20vh - 30px);
  right: 118px;
  width: 136px;
  height: 136px;
  opacity: 0;
}

.fixed-code > img {
  width: 100%;
}

.fixed-code-animation {
  opacity: 1;
  transition: .5s all ease;
}

/* 服务电话 */
.service-tell {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 0;
  padding: 0;
  overflow: hidden;
  height: 68px;
  min-height: 48px;
  background: #1657A7;
  border-radius: 3.55vw;
  position: fixed;
  right: 40px;
  top: calc(20vh + 80px);
  z-index: 1;
  box-sizing: border-box; 
  white-space:nowrap;
}

.service-tell-animation {
  width: 320px;
  padding: 10px 20px;
  transition: .8s all ease-in-out;
}

.service-tell > span { 
  font-size: 26px;
  font-family: Source Han Sans SC;
  font-weight: bold;
  color: #FFFFFF;
  margin-left: 14px;
}

/* 轮播 */
.swiper-container, .swiper-container2 {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination-bullet {
  background-color: auto;
  border: 1px solid #ffffff;
  margin: 10px 0;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}

.swiper-pagination1 > .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  margin: 0 12px;
  background-color: transparent;
}

.swiper-container3 > .swiper-button-prev {
  right: 55px !important;
}

.swiper-button-next3, .swiper-button-prev3 {
  background-size: 8px auto !important;
}

.swiper-container3 > .swiper-button-next, .swiper-container3 > .swiper-button-prev {
  bottom: 0;
  right: 0;
  top: auto;
  left: auto;
  width: 26px;
  height: 26px;
  background-color: #ffffff;
  border-radius: 100%;    
}

.swiper-container3 > .swiper-wrapper > .swiper-slide {
  align-items: flex-start !important;
  padding-bottom: 70px;
}

.swiper-button-prev4, .swiper-button-next4, .swiper-button-prev5, .swiper-button-next5 ,.swiper-button-prev6, .swiper-button-next6  {
  width: 66px !important;
  height: 66px !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat;
}

.swiper-button-prev4 , .swiper-button-prev5 , .swiper-button-prev6 {
  background-image: url(../image/left-red.png) !important;
  left: 10.5vw !important;
}

.swiper-button-next4, .swiper-button-next5, .swiper-button-next6 {
  background-image: url(../image/right-red.png) !important;
  right: 10.5vw !important;
}

/* service-tags */
.service-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 186px;
  height: 13.18vw;
  background: #F7FBFF;
}

.service-tags > ul {
  display: flex;
  flex-direction: row;
}

.service-tags > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1.89vw;
}

.service-tags > ul > li > img {
  width: 5.73vw;
  min-width: 80px;
}

.service-tags > ul > li > span { 
  font-size: 20px;
  font-family: Source Han Sans SC;
  font-weight: 400;
  color: #333333;
  margin-top: 1.57vw;
}

/* ydy服务范围 */
.ydy-service-area {
  background-image: url(../image/map-bg.png);
  background-repeat: no-repeat;
  background-size: 51.58vw auto;
  background-position: top right;
  background-position-y: 2.44vw;
}

.ydy-service-area > .ydy-service-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8.80vw 0 5.78vw 0;
}

.ydy-service-area > .ydy-service-title > span {
  font-size: 24px;
  font-family: Source Han Sans SC;
  font-weight: 400;
  color: #333333;
  margin: 0 0.945vw;
}

.ydy-service-area > .ydy-service-num {
  display: flex;
  margin-bottom: 4.16vw;
}

.ydy-service-area > .ydy-service-num > .service-num-item {
  display: flex;
  flex-direction: column;
  margin-right: 5.05vw;
}

.ydy-service-num > .service-num-item > .num { 
  font-size: 61px;
  font-family: Source Han Sans SC;
  font-weight: bold;
  color: #F93C5A;
  margin-bottom: 1.66vw;
}

.ydy-service-num > .service-num-item > .area { 
  font-size: 32px;
  font-family: Source Han Sans SC;
  font-weight: 300;
  color: #999999;
}

.ydy-service-area > .ydy-service-content {
  max-width: 43.17vw; 
  font-size: 16px;
  font-family: Source Han Sans SC;
  font-weight: 400;
  color: #333333;
  line-height: 36px;
}

.ydy-service-area > .cooperative-client {
  padding: 0;
  justify-content: center;
  margin: 10.15vw 0 5.73vw 0;
}

.logo-list {
  height: 100%;
  width: 62.5vw;
  /* margin: 0 auto; */
}

/* 合作 */
.logo-list > ul {
  display: flex;
  flex-flow: row wrap;
}

.logo-list > ul > li {
  display: flex;
  width: 20%;
  padding: 0 0 10px 10px;
  box-sizing: border-box;
}

.logo-list > ul > li:nth-child(4n + 1) {
  padding-left: 0;
}

.logo-list > ul > li > img {
  width: 100%;
}

/* map */
.amap-icon img {
  width: 25px;
  height: 34px;
}

.amap-marker-label{
  border: 0;
  background-color: transparent;
}
.amap-marker-label > .info {
  position: relative;
  top: 0;
  right: 0;
  min-width: 0;
  color: #000000;
  font-weight: bold;
  line-height: 25px;
}

/* 面包屑 */
.crumbs {
  display: flex;
  font-size: 0.9375vw;
  color: #999999;
  padding: 2.5vw 0 1.823vw 0;
}

.crumbs > .crumbs-item {
  cursor: pointer;
}

/* 分页 */
.list-paging {
  display: flex;
}

.list-paging > div:first-child, .list-paging > div:last-child {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 14px auto;
}

.list-paging > .pre {
  background-image: url(../image/pre1.png);
}

.list-paging > .next {
  background-image: url(../image/next1.png);
}

.next-bg {
  background-image: url(../image/next.png) !important;
}

.pre-bg {
  background-image: url(../image/pre.png) !important;
}

.list-paging > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  font-size: 16px;
  border-radius: 2px;
  background-color: #f4f4f5;
  color: #606266;
  margin: 0 5px;
  cursor: pointer;
}

.paging-active {
  background-color: #409EFF !important;
  color: #ffffff !important;
}