@media (max-width: 1500px) {
  .news-banner-ul > li {
    margin-bottom: 0.5vw !important;
  }
  .news-content > .publish-date {
    margin: 0.4vw 0 !important;
  }
}

@media (max-width: 1200px) {
  .news-banner-ul > li {
    margin-bottom: 0.4vw !important;
  }
  .news-content > .publish-date {
    margin: 0.3vw 0 !important;
  }
  .swiper-container3 > .swiper-wrapper > .swiper-slide {
    padding-bottom: 46px !important;
  }
}