
@media (max-width: 1500px) {
  .news-content > .publish-date {
    margin: 0.4vw 0 !important;
  }
  section > .section-content {
    font-size: 16px !important;
    line-height: 26px !important;
  }
  section > .section-titel > h1 {
    font-size: 32px !important;
  }
  .news-notice > ul > li {
    margin-bottom: 0.5vw !important; 
   }
  .news-notice {
    padding-top: 1.2vw !important;
  }
  .notice-head {
    margin-bottom: 0.9vw !important;
  }
  .crumbs {
    font-size: 16px !important;
  }
  .pages-detail > .titel {
    font-size: 20px !important;
  }
  .menu > .menu-item {
    font-size: 16px !important;
  }
}

@media (max-width: 1200px) {
  .news-banner-ul > li {
    margin-bottom: 0.4vw !important;
  }
  .news-content > .publish-date {
    margin: 0.3vw 0 !important;
  }
  .swiper-container3 > .swiper-wrapper > .swiper-slide {
    padding-bottom: 46px !important;
  }
  .section-titel-red > h1 {
    font-size: 24px !important;
  }
  .science-item > .say-content > h3 {
    font-size: 20px !important;
  }
  .news-list > ul > li > h2 {
    font-size: 16px !important;
  }
}

@media (max-width: 768px) {
  .PHONE {
    display: block;
  }
  .PC {
    display: none;
  }
  .amap-marker-label > .info {
    line-height: 10px !important;
    top: 12px !important;
  }
}