/* PHONE */
.phone-me-detial {
  margin-top: 7.81vw;
}

.phone-me-detial > .phone-detail-content {
  padding: 0 5.2vw;
  margin-top: 7.81vw;
}

.phone-me-detial > .phone-detail-content > p {
  font-size: 3.645vw;
  color: #333333;
  margin-bottom: 7.81vw;
}

.phone-me-detial > .phone-detail-content > p > img {
  width: 100%;
}

.phone-innovative-service {
  width: 100%;
  box-sizing: border-box;
  background-image: url(../static/image/phone/innov-service-bg.png);
  background-size: 100% 100%;
  overflow: hidden;
  padding: 0 5.2vw 3.9vw 5.2vw;
}

.phone-innovative-service > .section-titel-red {
  padding: 9.1145vw 0 7.81vw 0;
  margin-top: 0;
}

.phone-innovative-service > .section-titel-red > h1 {
  color: #ffffff;
  font-size: 4.166vw;
}

.phone-innovative-service > .section-titel-red > .red-line {
  background-color: #ffffff;
  margin-top: 3.9vw;
}

.phone-innovative-service > section {
  color: #ffffff;
  font-size: 3.125vw;
  margin-bottom: 8.33vw;
}

.phone-innovative-service > section > .phone-innovative-titel {
  font-weight: bold;
}

.phone-ydy-detial > .phone-ydy-detial-text {
  font-size: 3.645vw;
  padding: 0 5.20vw;
  margin: 16.927vw 0 8.463vw 0;
}

.phone-ydy-detial > ul {
  display: flex;
  flex-direction: column;
  padding: 0 5.2vw;
}

.phone-ydy-detial > ul > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5.2vw 7.81vw 5.2vw 4.81vw;
  background-color: #FAFAFA;
  margin-bottom: 3.385vw;
}

.phone-ydy-detial > ul > li > img {
  width: 10.416vw;
  height: 10.416vw;
  margin-right: 3.385vw;
}

.phone-ydy-detial > ul > li > .phone-ydy-steps {
  color: #2A345C;
  font-size: 3.125vw;
}

.phone-ydy-steps > .phone-steps-item {
  display: flex;
  margin-bottom: 0.53vw;
}

.phone-ydy-steps > .phone-steps-item > span {
  line-height: 1.6;
}

.phone-ydy-steps > .phone-steps-item > .step-point {
  width: 1.04vw;
  height: inherit;
  margin-right: 2.6vw;
}

.phone-ydy-steps > .phone-steps-item > .step-point > .point {
  width: 1.04vw;
  height: 1.04vw;
  background: #2A345C;
  border-radius: 100%;
  margin-top: 2.1vw;
}

.phone-marginTop65 {
  margin-top: 8.46vw !important;
}
/* PC */
.about-me-titel {
  margin: 7.29vw 0 4.166vw;
}

.about-me-detail {
  margin-bottom: 8.54vw;
}

.about-me-content > p {
  font-size: 0.9375vw; 
  font-weight: 400;
  color: #333333;
  text-indent: 1.04vw;
  margin-bottom: 2.6vw;
}

.about-me-content > p.last-p {
  margin-bottom: 5.57vw;
}

.about-me-content > .me-img-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-me-content > .me-img-text > img {
  width: 24.84vw;
  margin-right: 3.125vw;
}

.about-me-content > .me-img-text > .text {
  width: 34.48vw;
  font-size: 0.9375vw;
  
  font-weight: 400;
  color: #333333;
}

.innovative-service {
  padding: 4vw 0 7vw;
  background-image: url(../static/image/me-company-bg.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.innovative-service > section > .section-titel-red > h1 {
  color: #ffffff;
}

.innovative-service > section > .section-titel-red {
  margin-top: 0;
}

.innovative-service > section > .section-titel-red > .red-line {
  background-color: #ffffff;
}

.innovative-service > section > .innovative-content {
  max-width: 61.875vw;
  margin: 0 auto;
  color: #ffffff;
  font-size: 0.9375vw;
  margin-top: 4.4vw;
}

.innovative-content > p {
  margin-bottom: 1.7vw;
  line-height: 1.48vw;
}

.innovative-content > p:nth-last-child(1) {
  margin-bottom: 0;
}

.innovative-content > p > .titels {
  font-size: 1.145vw;
  margin-bottom: 0.52vw;
  display: block;
  font-weight: bold;
}

.map > #map-container {
  width: 100%;
  height: 30.1vw;
}

.company-address > .company-titel {
  height: 12.3vw;
}

.ydy-center {
  padding-bottom: 5px;
}

.ydy-center > .center-detail {
  width: 46.3vw;
  font-size: 0.9375vw;
  
  font-weight: 400;
  color: #333333;
  margin: 6.25vw 0 3.645vw 0;
}

.center-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.center-say-item {
  width: 15.31vw;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  padding: 1.875vw 0 3.645vw 0;
}

.center-say-item > .item-icon {
  width: 6.51vw;
  height: 6.51vw;
  margin: 0 auto;
}

.center-say-item > .item-icon > img {
  width: 100%;
}

.center-say-item > ul {
  padding: 0 1.354vw 0 1.3vw;
}

.center-say-item > ul > li {
  margin-top: 2.08vw;
  display: flex;
}

.center-say-item > ul > li > .li-text { 
  font-size: 0.833vw;
  color: #2A345C;
  line-height: 1.6;
}

.dots {
  float: left;
  height: 100%;
  margin-right: 4px;
}

.dot {
  width: 8px;
  height: 8px;
  background: #2A345C;
  border-radius: 100%;
  float: left;
  margin-top: 9px;
}