
/* phone */
.swiper-pagination-phone1 {
  bottom: 2.864vw !important;
  line-height: 0 !important;
}

.swiper-pagination-phone1 > .swiper-pagination-bullet {
  margin: 0 0.976vw !important;
}

.phone-broadcast {
  display: flex;
  height: 10.42vw;
  min-height: 40px;
  margin-top: 5.9vw;
}

.phone-broadcast > .phone-broadcast-titel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 16.93vw;
  min-width: 60px;
  height: 100%;
  background-image: url(../static/image/phone/news-titel-bg.png);
  background-size: 100% 100%;
}

.phone-broadcast-item {
  font-size: 3.645vw;
  color: #666666;
  width: 67.834vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.phone-broadcast-titel > p {
  color: #005DC5;
  font-size: 2.86vw;
  font-weight: bold;
  line-height: 1.4;
}

.swiper-container-phone2 > .swiper-wrapper > .swiper-slide {
  text-align: left;
  justify-content: flex-start;
  padding-left: 3.385vw;
  box-sizing: border-box;
}

.phone-product-intro {
  padding: 0 5.2vw;
  box-sizing: border-box;
  margin-top: 7.81vw;
}

.phone-product-intro > .phone-intro-titel { 
  font-size: 4.166vw;
  
  font-weight: bold;
  color: #333333;
  margin-bottom: 5.2vw;
}

.phone-product-intro > .phone-intro-content {
  font-size: 3.645vw;
  
  font-weight: 400;
  color: #333333;
  margin-bottom: 7.81vw;
}

.phone-product-intro > img {
  width: 100%;
}

.phone-news-info {
  background-color: #0C60D5;
  padding-top: 8.7239vw;
}

.phone-news-info > .phone-section-titel {
  margin-bottom: 4.427vw;
}

.phone-news-info > .phone-section-titel > span {
  color: #FFFFFF;
}

.phone-news-info > .phone-section-titel > .phone-line {
  background-color: #FFFFFF;
}

.phone-news-list {
  width: 100%;
}

.phone-news-list > ul {
  display: flex;
  flex-direction: column;
  padding: 0 5.6vw;
  box-sizing: border-box;
  padding-bottom: 20.83vw;
}

.phone-news-list > ul > li {
  display: flex;
  flex-direction: column;
  padding: 6.25vw 0 3.9vw 0;
  color: #FFFFFF;
  border-bottom: 1px solid rgba(225, 225, 225, 0.15);
}

.phone-news-list > ul > li > h3 {
  font-size: 3.645vw;
  margin-bottom: 1.3vw;
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.phone-news-list > ul > li > span {
  font-size: 2.734vw;
  text-align: left;
}

.swiper-container-phone5 > .swiper-wrapper > .swiper-slide {
  justify-content: flex-start;
}

.swiper-button-next-phone5, .swiper-button-prev-phone5 {
  top: auto;
  bottom: 6.51vw;
  width: 7.8125vw;
  height: 7.8125vw;
  background-size: 100% auto;
  background-position: left bottom;
}

.swiper-button-next-phone5 {
  background-image: url(../static/image/right-btn.png);
  right: 35.8vw;
}

.swiper-button-prev-phone5 {
  background-image: url(../static/image/left-btn.png);
  left: 35.8vw;
}

/* pc */
.home {
  width: 100%;
  overflow: hidden;
}

.home-banner {
  width: 100%;
  height: 24.4vw;
  min-height: 350px;
  position: relative;
}

.product-intro {
  display: flex;
  padding-top: 4.17vw;
}

.pro-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pro-content > .pro-image > img {
  width: 24.9vw;
}

.pro-intro {
 padding-left: 2.4vw;
}

.pro-intro > h3{
  font-size: 16px; 
  line-height: 1.6;
  font-weight: 400;
  color: #333333;
}

.pro-intro > h3:nth-child(2) {
  margin-top: 2.2vw;
}

.service-area {
  width: 100%;
}

.service-area > .service-head {
  position: relative;
  width: 100%;
  height: 7.4vw;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.service-area > .service-head > .service-titel {  
  display: flex;
  flex-direction: row;
  align-items: center;
}

.service-area > .service-head > .service-titel > span {
  margin: 0 0.945vw;
  font-size: 24px;
  
  font-weight: 400;
  color: #333333;
}

.news-info {
  width: 100%;
  padding-bottom: 3.33vw;
  background: #1657A7;
  margin-top: 4vw;
}

.news-info > .section-titel {
  padding: 4.89vw 0 5.46vw 0;
}

.news-info > .section-titel > .news-titel {
  color: #FFFFFF;
}

.news-info > .news-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.news-info > .news-content > .news-left-banner {
  width: 24.42vw;
  height: 13.75vw;
}

.news-info > .news-content > .news-left-banner > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-banner-ul {
  display: flex;
  flex-flow: row wrap;
  /* justify-content: flex-end; */
  /* padding-top: 0.5vw; */
  width: 100%;
  /* height: 13.75vw; */
  /* align-items: center; */
}

.news-info > .news-content > .news-right-banner {
  display: flex;
  width: 34.3vw;
  /* height: 16.41vw; */
  margin-left: 3.64vw;
}


.news-banner-ul > li {
  width: 15.1vw;
  margin-bottom: 1.1vw;
}

.news-banner-ul > li:nth-child(2n + 1) {
  margin-right: 4.06vw;
}

.news-banner-ul > li > .news-content {
  font-size: 0.73vw;
  color: #FFFFFF;
  border-bottom: 1px solid rgba(225, 225, 225, 0.29);
  cursor: pointer;
}

.news-content > .publish-date {
  margin: 0.73vw 0;
  text-align: left;
}

.news-content > .news-topic {
  width: 12.2vw;
  overflow: hidden;
  text-overflow:ellipsis; 
  white-space: nowrap;  
}

.company-address > .company-titel {
  height: 12.3vw;
}

.company-address > .map > #container {
  width: 100%;
  height: 30.1vw;
}

/* banner */
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.phone-logo-list > ul > li > img {
  height: auto;
}

.swiper-pagination1 {
  bottom: 22px !important;
}

.swiper-pagination1 > .swiper-pagination-bullet {
  margin: 0 7px !important;
}

.news-notice {
  position: absolute;
  z-index: 20;
  top: 0;
  right: 18.75vw;
  width: 16.66vw;
  min-width: 250px;
  /* min-width: 320px; */
  height: inherit;
  min-height: 350px;
  color: #FFFFFF;
  background-color: rgba(34, 34, 38, 0.22);
  padding: 2.08vw 1.25vw 0 0.78vw;
  font-size: 0.625vw;
  box-sizing: border-box;
}

.news-notice > .notice-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1.5625vw;
}

.notice-see-more {
  cursor: pointer;
  font-size: 0.625vw;
}

.news-notice > .notice-head > .notice-head-titel {
  font-size: 0.9375vw;
  line-height: 1.5;
}

.news-notice > ul > li {
 margin-bottom: 0.8vw;
 cursor: pointer; 
}

.news-notice > ul > li > p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;/*超出3行部分显示省略号，去掉该属性 显示全部*/
  -webkit-box-orient: vertical;
  line-height: 1.5;
}

.news-notice > ul > li > p.date {
  text-align: right;
  line-height: 1.5;
}

