/* phone */
.phone-notice-list {
  margin-bottom: 9.7656vw;
  flex: 1;
}

ul.phone-ul > li {
  padding: 2.6vw 0 3.9vw 0;
  border-bottom: 1px solid rgba(220, 220, 220, 0.29);
  cursor: pointer;
}

ul.phone-ul > li > .phone-notice-titel { 
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 4.166vw;
  color: #333333;
  margin-bottom: 3.9vw;
  line-height: 1.6;
  pointer-events: none;
}

.phone-notice-list > ul > li > .phone-date {
  font-size: 3.385vw;
  color: #666666;
  pointer-events: none;
}

.phone-news-list {
  display: none;
  flex-direction: column;
  height: 100vh;
}

.phone-notice-detail {
  padding: 6.51vw 5.2vw 15.625vw 5.2vw;
  box-sizing: border-box;
  flex: 1
}

/* PC */
.notice-list {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.news-page {
  flex: 1;
}

.news-list, .crumbs {
  width: 50vw;
  margin: 0 auto;
}

.news-list > ul > li {
  display: flex;
  flex-direction: column;
  padding: 1.3vw 0 1.145vw 0;
  border-bottom: 1px dashed #DCDCDC;
  cursor: pointer;
}

.news-list > ul > li > h2 {
  font-size: 1.145vw;
  color: #333333;
}

.news-list > ul > li > span.date {
  margin-top: 0.833vw;
  color: #999999;
  font-size: 14px;
}

.list-paging {
  justify-content: center;
  margin: 3.64vw auto 4.375vw auto;
}

.pages-detail {
  width: 50vw;
  margin: 0 auto;
  border-bottom: 1px solid #DCDCDC;
  margin-bottom: 7vw;
  flex: 1;
  padding-bottom: 2.39vw;
}

.pages-detail > .titel { 
  font-size: 1.354vw;
  font-weight: 400;
  color: #333333;
  text-align: center;
  margin-top: 1.3vw;
}

.pages-detail > .date {
  margin: 1.458vw 0 2.6vw 0;
  text-align: center;
  color: #999999;
  font-size: 14px;
}

img {
  max-width: 100%;
}

.pages-detail > .img {
  text-align: center;
  margin-bottom: 3.125vw;
}
.pages-detail > .img > img {
  width: 21.51vw;
}

.pages-detail > p.section {
  font-size: 14px;
  color: #333333;
  margin-bottom: 2.39vw;
}

.notice-detail-tag {
  max-width: 10.4vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}