/* Phone */
.phone-guid-steps {
  padding: 0 3.90vw;
  margin-top: 11.068vw;
}

.phone-guid-steps > section {
  display: flex;
  flex-direction: column;
  color: #666666;
  background-repeat: no-repeat;
  min-height: 118.611vw;
}

.phone-guid-steps > section > h2 {
  font-size: 4.166vw;
  padding: 0 1.30vw;
  margin-bottom: 1.3vw;
  font-weight: normal;
}

.phone-guid-steps > section > h1 {
  color: #F93C5A;
  padding: 0 1.30vw;
  margin-bottom: 3.9vw; 
  font-weight: bold;
}

.phone-guid-steps > section > span {
  font-size: 3.645vw;
  padding: 0 1.30vw;
  max-width: 76.5625vw;
}

.phone-guid-steps > section:nth-child(1) {
  background-image: url(../static/image/phone/steps1.png);
  background-size: 88.541vw auto;
  background-position: center 27.08vw;
}

.phone-guid-steps > section:nth-child(2) {
  background-image: url(../static/image/phone/steps2.png);
  background-size: 88.541vw auto;
  background-position: center -1.92vw;
  margin-top: 11.718vw;
}

.phone-guid-steps > section:nth-child(3) {
  background-image: url(../static/image/phone/steps3.png);
  background-size: 88.541vw auto;
  background-position: center 27.08vw;
  margin-top: 11.718vw;
}

.phone-guid-steps > section:nth-child(4) {
  background-image: url(../static/image/phone/steps4.png);
  background-size: 88.541vw auto;
  background-position: center 27.08vw;
  margin-top: 11.718vw;
}

/* PC */
.service-areas {
  padding: 6.5vw 0 5.05vw 0;
}

.science-item {
  display: flex;
  padding: 5.98vw 0 0 0;
}

.science-item > img {
  width: 35.79vw;
}

.science-item > .say-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
}

.science-item > .say-content > h3 {
  font-size: 1.66vw;
  color: #666666;
  font-weight: normal;
}

.science-item > .say-content > h2 {
  font-size: 2.39vw;
  
  font-weight: bold;
  color: #F93C5A;
  margin-top: 10px;
}

.science-item > .say-content > h4 {
  display: block;
  width: 22.5vw;
  font-size: 18px;
  font-weight: 400;
  color: #666666;
  margin-top: 1.77vw;
  line-height: 1.7;
}

.science-item2 {
  position: relative;
  margin-top: 5.98vw;
}

.science-item2 > .say-content {
  margin-left: 6.77vw;
  padding-right: 1.66vw;
}

.science-item2 > img {
  width: 55.57vw;
  position: absolute;
  z-index: 2;
  right: -19.8vw;
  top: -13.54vw;
}

.science-item2 > .say-content > h4 {
  max-width: 14vw;
}

.science-item3 {
  padding-top: 21.1vw;
}

.science-item4 > .say-content > h4 {
  max-width: 16.87vw;
}

.science-item4 > img {
  width: 32vw;
  margin-left: 4vw;
}

.science-item4 > .say-content {
  margin-left: 6.77vw;
}